.in-theaters {
  padding-left: 3rem;
}


.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .wrapper > div {
    line-height: 45px;
    margin: 5px;
    width:25rem;
  }


select {
    background-color: #a9aeae;
    color:#0c1f1e;
    width: 14rem;
    margin: auto;
}

  .card {
      background-color: #2a6460;
      /* color: #0c1f1e; */
      color:#cda04b;
  }

.card-title {
    height: 75px;
}

.day-and-time{
  text-align: center;
}

.our-btn {
    background-color: #0c1f1e;
    margin-top: 1.5em;
    
}
.our-btn:hover {
 
    background-color: #063332;
}